// font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;

// font weight
$base-font-weight: 400;
$font-weight-sm: $base-font-weight * 0.75;
$font-weight-lg: $base-font-weight * 1.5;
$font-weight-xl: $base-font-weight * 2;
$font-weight-xxl: $base-font-weight * 3;

// theme colors white
$primary: #333333 !default;
$secondary: #fff !default;
$bg-primary: #101541;
$bg-secondary: #000;

//theme colors
$error: #d32752 !default;
$info: #f6c31c !default;

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;
