.Container {
  margin-left: 6px;
  margin-right: 6px;
}

.Title {
  font-family: var(--font-roboto);
  font-size: 1.2rem;
}

.Content {
  margin-top: 3rem;
  border: 1px solid #d3d3d3;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  border-radius: 1ch;
}

.Content-Box {
  margin-top: 3rem;
}
