.Dashboard {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
}

.right {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* i pad */
@media screen and (max-width: 810px) {
  .right {
    width: 100%;
  }
}


